body {
    background-color: rgb(107, 107, 96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.container {
    background-color: rgb(238, 238, 238);
    width: 90%;
    height: 70%;
    border: 3px solid rgba(172, 172, 172, 0.363);
    box-shadow: 0 0 35px rgb(0, 0, 0);
    margin: 50px;
    padding: 15px;
    border-radius: 20px;
    transition: 1s ease-in-out;
}

#foundWord {
    text-align: center;
    font-size: 1.1rem;
    color: black;
    letter-spacing: 3px;
    background-color: rgb(206, 211, 211);
    border-radius: 10px;
    border: 1px solid black;
    word-break: break-word;
}

.desc {
    color: black;
    font-size: 1rem;
    font-style: italic;
    background-color: rgb(240, 240, 175);
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
    max-height: 70vh;
    box-shadow: 2px 2px 5px black;
}

input {
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    font-size: 1.1rem;
}

button {
    height: 40px;
    width: 70px;
    background-color: rgb(34, 36, 30);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
